
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>Welcome to Tamagotchi</h1>
<form>
    <label for="food">Feed Tamagotchi</label>
    <div id= "food">
    </div>

    <label for="sleep">Put Tamagotchi to Sleep</label>
    <div id= "sleep">
    </div>


    <label for="play">Play with Tamagotchi</label>
    <div id= "play">
    </div>
    <br><br>

    <button type="button" class="btn btn-primary btn-lg">FEED</button>
    <button type="button" class="btn btn-warning btn-lg">SLEEP</button>
    <button type="button" class="btn btn-primary btn-lg">PLAY</button>
    <p>
        <br>
        <br>
    <button type="button" class="btn btn-danger btn-lg">Play Again</button><a href="/"></a></button>
</p>
</form>
</body>
